<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Course Completed<%= title %></p>
    <input type=button onClick="location.href='http://localhost:3000/pollyCourse/'" value='Home'>
  </body>
</html>
