<!DOCTYPE html>
<html>
  <head>
    <title>Learning Course</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="/javascripts/learningHome.js"></script>
    <script>
      function getHtml(template) {
           return template.join('\n');
        }

        //call the function in the JS to list Images
        listFolders();  
  </script> 
  </head>
  <body class="divbody">
    <label class="logoutPos">
        <input type=button onClick="location.href='http://localhost:3000/pollyCourse/'" value='Logout' class="buttons"> 
    </label>  
    <!--<div id="learninghomePage" class="margin"> 
    <h1><%= title %></h1>
    
    <p>Welcome to Learning Course Based on Amazon Rekognition <%= title %></p>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Wildlife'" value='Wildlife' class="buttons">
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Reptiles'" value='Reptiles' class="buttons">
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Vegetables'" value='Vegetables' class="buttons">
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Colors'" value='Colors' class="buttons">
    </div>-->
    <div id="learninghomePage" class="margin"> 
  </div> 
  </body>
</html>
