<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Learning Course Based on Amazon Rekognition<%= title %></p>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Wildlife'" value='Wildlife'>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Reptiles'" value='Reptiles'>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Vegetables'" value='Vegetables'>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse/Colors'" value='Colors'>
  </body>
</html>
