<!doctype html>
<html>
  <head>
   
   <title> Quiz </title>
</head>
<body>
 <p><%=quiz_label_right %></p>
 <p>Identify the <%=quiz_label_right%> </p>
<form>
  <div id="radio">
    <input type="radio" id="radio1" name="radio"><label for="radio1"><img src=<%=rightImageURL %>  /></label></input>
    <input type="radio" id="radio2" name="radio" checked><label for="radio2"><img src=<%=wrongImageURL %>  /></label></input>
  </div>
</form>

</body>
</html>
