<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <input type=button onClick= "location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/learningCourse'" value='Learning Course'>
    <input type=button onClick="location.href='http://ec2-34-207-163-214.compute-1.amazonaws.com:3000/pollyCourse'" value='Language'>
  </body>
</html>
